<div id="landing-header">

  <div id="landing-body">
  
    <h1>Spin La!</h1>
    <h4>YOU'RE IN LUCK TODAY!</h4>
	  <a href="/deals" role="button" class="btn btn-lg btn-dark card-shadow">Great Deals Await</a>
  
  </div>

  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

</div>

<div class="container-fluid landing-title-div">
  <div class="row text-center text-shadow">
    <div class="col-lg-6 landing-title landing-title-1">
      <div class="container">
        <div data-aos="zoom-in-left">
          <h1>Live to Eat, Love to Eat</h1></br>
          <h5>People who love to eat are always the best people.</h5>
          <small>Julia Child</small>
          <h4>Food is our common ground, a universal experience.</h4>
          <small>James Beard</small>
          <h5>A crust eaten in peace is better than a banquet partaken in anxiety.</h5>
          <small>Aesop</small>
        </div>
      </div>
    </div>

    <div class="col-lg-6 landing-title landing-title-2">
      <div class="container">
        <div data-aos="zoom-in-right" data-aos-duration="900">
          <h1 class="text-center text-shadow">Good food fills your body and soul altogether.</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid content">
  <div class="content-container">
    <div data-aos="fade-down"
     data-aos-duration="3000">
      <h1 class="text-white">Deals Offered by Top Companies</h1>
    </div>
    <div class="row">
    <% @deals.each do |deal| %>
      <% if deal.wins_remaining > 0 %>
				<div class="col-md-4 mb-4" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="700"
        data-aos-anchor-placement="bottom-bottom">
					<div class="card card-shadow text-center">
						<div class="card-body">
							<img src="https://s3-ap-southeast-1.amazonaws.com/pizzahutmy/menu/BlazingSeafood-L-1486726693.png" alt="">
							<p class="card-text">Winning Odds: <%= (deal.odds_numerator)/(deal.odds_denominator).to_r %></p>
							<p class="card-text">Wins Remaining: <%= deal.wins_remaining %></p>
							<p class="card-text">Offered by: <%= link_to "#{deal.company.name}", company_path(deal.company_id) %></p>
							<%= link_to 'Show Deal', sign_up_path, :role => "button", :class => "btn btn-block btn-lg btn-outline-dark"  %>
						</div>
					</div>
				</div>
			<% end %>
    <% end %>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <div class="row footer-container" data-aos="fade-right"
     data-aos-easing="linear"
     data-aos-duration="700">
    <div class="col-md-4">
      <h1>Contact</h1>
      <div>
        <img src="https://png.pngtree.com/element_our/md/20180322/md_5ab35e2e64030.png" style=" width: 150px; height: auto;">
      </div>
    </div>

    <div class="col-md-4">
      <h1>FAQ</h1>
      <p>Frequently asked questions.</p>
    </div>

    <div class="col-md-4">
      <h1>Terms and Conditions</h1>
      <p>You are advised to read these Terms and Conditions carefully before you start to use the Website. By browsing, accessing or using the Website or any Services (as defined below) available through it, you hereby indicate that you agree and accept to these Terms and Conditions and that you agree to abide by them. Your use of any part of the Website constitutes your acceptance of these Terms and Conditions which takes effect on the date on which you first use the Website. If you do not agree with these Terms and Conditions, you should cease using the Website immediately.</p>
    </div>
    
  </div>
</footer>