<div class="container-fluid new-deal-background">

  <div class="container deals"  data-aos="zoom-out" data-aos-duration="1100">
    <div class="title">
      <h2>Create Deal</h2>
    </div>

    <%= form_for @deal do |form| %>
    <%= link_to 'Create Spin Deal', deal_spin_type_path, id:"spin_link", method: :patch, remote: true%>     
    <%= link_to 'Create Regular Deal', deal_regular_type_path, id:"deal_link", method: :patch, remote: true%>
    <p id = "spin_deal">
    </p>
    <% end %>
  </div>

</div>
