/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*******************************
              GENERAL
 *******************************/

 * {
   box-sizing: border-box;
 }

 html, body {
   /* background-color: #e5ffe5; */
   width: 100%;
   height: 100%;9
 }

 a {
   color: #000;
 }

 a:hover {
   color: midnightblue;
   text-decoration: none;
 }

 ul, ol, li {
   padding-left: 0;
   list-style-type: none;
 }

 /*******************************
              LAYOUT
 *******************************/

 .navbar {
   z-index: 2;
   /* margin-bottom: 10px; */
 }

 .nav-item:first-child {
   padding-left: 0;
 }

 .nav-item {
   padding: 0 5px;
 }

 .other-links h2 {
   font-size: 16px;
 }

 /*******************************
            Landing
 *******************************/

 #landing-header {
  position: relative;
  text-align: center;
  padding-top: 40vh;
  width: 100%;
  height: 100%;
}

#landing-body {
  position: relative;
  z-index: 1; 
  color: #fff;
}

/* #landing-header .landing-body h1 {
  color: #fff;
} */

.slideshow { 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.pexels.com/photos/5938/food-salad-healthy-lunch.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.pexels.com/photos/769289/pexels-photo-769289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.pexels.com/photos/568370/pexels-photo-568370.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

  /*******************************
              FORM
 *******************************/

 form {
   display: block;
   position: relative;
   background-color: #fff;
   color: #999;
   padding: 15px;
   -webkit-box-shadow: 7px 6px 160px -5px rgba(0,0,0,0.39);
   -moz-box-shadow: 7px 6px 160px -5px rgba(0,0,0,0.39);
   box-shadow: 7px 6px 160px -5px rgba(0,0,0,0.39);
 }

 .sign-up,
 .sign-in,
 .password-reset,
 .deals,
 .company,
 .review {
   max-width: 580px;
   margin-top: 50px;
   font-weight: bold;
 }

 .sign-up .title,
 .sign-in .title,
 .password-reset .title,
 .company .title,
 .deals .title,
 .review .title {
   background-color: midnightblue;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
 }

 .sign-up h2,
 .sign-in h2,
 .password-reset h2,
 .company h2,
 .deals h2,
 .review h2 {
   text-align: center;
   color: #fff;
   margin-bottom: 0;
   padding: 10px;
 }

 .btn-outline-dark {
   border-color: purple;
   color: midnightblue;

 }

 .btn-outline-dark:hover, .btn-outline-dark:active {
  background-color: midnightblue !important;
  color: #fff !important;
}

label {
  display: block;
  position: relative;
  top: 1px;
  left: 0px;
  margin: 0;
  z-index: 1;
}

input[type="text"], input[type="email"], input[type="password"] {
  display: block;
  position: relative;
  border: none;
  background: none;
  border-bottom: 2px solid #eee;
  outline: none;
  width: 100%;
  font-weight: bold;
  z-index: 2;
  transition: all .3s ease;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  border-bottom: 2px solid purple;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #0f52ba; /* Colour -> Sapphire */
}

input[name="company[name]"],
input[name="company[description]"],
input[name="company[address]"],
input[name="company[email]"],
input[name="company[phone_number]"],
input[name="deal[wins_remaining]"],
input[name="deal[odds_numerator]"],
input[name="deal[odds_denominator]"],
input[name="deal[description]"] {
  margin-top: -20px;
}

.text-field {
  margin: 13px 0;
}

.submit-field {
  margin-top: 30px;
}

/*******************************
       Font Awesome Icons
*******************************/



/*******************************
            Company
*******************************/

.text-shadow {
  text-shadow: 2px 2px 12px #1C6EA4;
}

.card-shadow {
  -webkit-box-shadow: -1px 12px 52px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 12px 52px -13px rgba(0,0,0,0.75);
  box-shadow: -1px 12px 52px -13px rgba(0,0,0,0.75);
}

.company-profile {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.company-profile-div {
  width: 100%;
  height: 50%;
  color: #fff;
}

.company-deal-div {
  width: 100%;
  height: 70%;
  color: #000;
}

.btn-transparent {
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  color: #eee;
}

.rating {
  margin: 10px 0;
  display: flex;
  left: 50%;
  transform: translate(-22%, 0) rotateY(180deg);
}

.rating input {
  display: none;
}

.rating label {
  display: block;
  cursor: pointer;
  width: 50px;
  margin: 0 5px;
}

.rating label:before {
  content: "\f005";
  font-family: "Font Awesome\ 5 Free";
  position: relative;
  display: block;
  font-size: 30px;
  color: #ccc;
}

.rating label:after {
  content: "\f005";
  font-family: "Font Awesome\ 5 Free";
  position: absolute;
  display: block;
  font-size: 30px;
  color: rgba(11, 146, 170, 0.979);
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(5, 99, 116, 0.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
  opacity: 1;
}

/*******************************
          User Profile
*******************************/

#user_profile {
  background-color: #6dd5ed;
  height: 100vh;
}

#user_profile .btn-outline-light {
    float: right;
    margin-right: 40%;
    margin-top: 30%;
}

#user_profile .img {
  padding-top: 1.3%;
}





