/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*******************************
              GENERAL
 *******************************/

 * {
   box-sizing: border-box;
 }

 html, body {
   /* background-color: #e5ffe5; */
   width: 100%;
   height: 100%;
   font-family: 'Lato', sans-serif;
 }

 a {
   color: #000;
 }

 a:hover {
   color: midnightblue;
   text-decoration: none;
 }

 ul, ol, li {
   padding-left: 0;
   list-style-type: none;
 }

 .card {
  transition: all .2s ease-in-out;
  color: #000 !important;
 }
/*
 .card:hover {
  transform: scale(1.02);
 }
*/
 .dropdown {
  color: #000 !important;
 }

 /*******************************
              LAYOUT
 *******************************/

 .navbar {
   z-index: 2;
   /* margin-bottom: 10px; */
 }

 .nav-item:first-child {
   padding-left: 0;
 }

 .nav-item {
   padding: 0 5px;
 }

 .other-links h2 {
   font-size: 16px;
 }

 /*******************************
            Landing
 *******************************/

 #landing-header {
  position: relative;
  text-align: center;
  padding-top: 40vh;
  width: 100%;
  height: 100%;
}

#landing-body {
  position: relative;
  z-index: 1; 
  color: #fff;
}

.landing-title {
  position: relative;
  padding: 20px 0;
  height: 500px;
  background: rgba(0, 0, 0, .5) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-title:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background: #000;
  opacity: .2; */
}

.landing-title-1 {
  background-image: url(https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.landing-title-2 {
  background-image: url(https://images.pexels.com/photos/209459/pexels-photo-209459.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.landing-title-1,
.landing-title-2 {
  z-index: 1;
}

.content {
  background: url(https://images.pexels.com/photos/163018/food-business-lunch-restaurant-lunch-163018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat fixed;
  background-size: cover;
}

.content h1 {
  padding: 20px 0;
}

.content .content-container {
  width: 90%;
  margin: 0 auto;
}

.content h4 {
  padding: 10px 0;
  color: #fff;
}

footer {
  border-top: 2px solid #ccc;
  background-color: #031424;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  color: #fff;
}

.slideshow { 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.pexels.com/photos/5938/food-salad-healthy-lunch.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.pexels.com/photos/769289/pexels-photo-769289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.pexels.com/photos/568370/pexels-photo-568370.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

  /*******************************
              FORM
 *******************************/

 form {
   display: block;
   position: relative;
   background-color: #fff;
   color: #999;
   padding: 15px;
   -webkit-box-shadow: 7px 6px 160px -5px rgba(0,0,0,0.39);
   -moz-box-shadow: 7px 6px 160px -5px rgba(0,0,0,0.39);
   box-shadow: 7px 6px 160px -5px rgba(0,0,0,0.39);
 }

 .sign-up,
 .sign-in,
 .password-reset,
 .deals,
 .company,
 .review {
   max-width: 580px;
   margin-top: 50px;
   font-weight: bold;
 }

 .sign-up .title,
 .sign-in .title,
 .password-reset .title,
 .company .title,
 .deals .title,
 .review .title {
   background-color: midnightblue;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
 }

 .sign-up h2,
 .sign-in h2,
 .password-reset h2,
 .company h2,
 .deals h2,
 .review h2 {
   text-align: center;
   color: #fff;
   margin-bottom: 0;
   padding: 10px;
 }

 .btn-outline-dark {
   border-color: purple;
   color: midnightblue;

 }

 .btn-outline-dark:hover, .btn-outline-dark:active {
  background-color: midnightblue !important;
  color: #fff !important;
}

label {
  display: block;
  position: relative;
  top: 1px;
  left: 0px;
  margin: 0;
  z-index: 1;
}

input[type="text"], input[type="email"], input[type="password"] {
  display: block;
  position: relative;
  border: none;
  background: none;
  border-bottom: 2px solid #eee;
  outline: none;
  width: 100%;
  font-weight: bold;
  z-index: 2;
  transition: all .3s ease;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  border-bottom: 2px solid purple;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #0f52ba; /* Colour -> Sapphire */
}

input[name="company[name]"],
input[name="company[description]"],
input[name="company[address]"],
input[name="company[email]"],
input[name="company[phone_number]"],
input[name="deal[wins_remaining]"],
input[name="deal[odds_numerator]"],
input[name="deal[odds_denominator]"],
input[name="deal[description]"] {
  margin-top: -20px;
}

.text-field {
  margin: 13px 0;
}

.submit-field {
  margin-top: 30px;
}

/*******************************
       Font Awesome Icons
*******************************/



/*******************************
            Company
*******************************/

.text-shadow {
  text-shadow: 2px 2px 12px #1C6EA4;
}

.card-shadow {
  -webkit-box-shadow: -1px 12px 52px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 12px 52px -13px rgba(0,0,0,0.75);
  box-shadow: -1px 12px 52px -13px rgba(0,0,0,0.75);
}

.company-profile {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.company-profile-div {
  width: 100%;
  color: #fff;
}

.company-deal-div {
  width: 100%;
  height: 70%;
  color: #000;
}

.btn-transparent {
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  color: #eee;
}

/*******************************
          Star Ratings
*******************************/

.rating {
  margin: 10px 0;
  display: flex;
  left: 50%;
  transform: translate(-22%, 0) rotateY(180deg);
}

.rating input {
  display: none;
}

.rating label {
  display: block;
  cursor: pointer;
  width: 50px;
  margin: 0 5px;
}

.rating label:before {
  content: "\f005";
  font-family: "Font Awesome\ 5 Free";
  position: relative;
  display: block;
  font-size: 30px;
  color: #ccc;
}

.rating label:after {
  content: "\f005";
  font-family: "Font Awesome\ 5 Free";
  position: absolute;
  display: block;
  font-size: 30px;
  color: rgba(11, 146, 170, 0.979);
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(5, 99, 116, 0.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
  opacity: 1;
}


.grey-star {
  color: #ccc;
}

.star-color {
  color: rgba(11, 146, 170, 0.979);
}

.grey-star, .star-color {
  font-size: 24px;
}

/*******************************
          User Profile
*******************************/

#user_profile {
  background-color: #6dd5ed;
  background-size: cover;
}

#user_profile .btn-outline-light {
    margin-left: 40%;
    margin-top: 100px;
}

#user_profile .img {
  padding-top: 1.3%;
}

#user_profile .container-fluid {
  text-shadow: 2px 2px 12px #1C6EA4;
  padding-left: 15px;
}

#user_profile .card-deck {
  margin-top: 200px;
}

#deals {
  background: #02AAB0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.show-deal {
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  padding-top: 40px;
}

.flash-text {
  font-size: 34px;
  color: #fff;
}

.bg-win {
  background: rgb(155, 82, 238);
}

/**************************
            Spin
**************************/


/*WRAPPER*/
#wrapper{ 
  margin: 40px auto 0;  
  width:266px; 
  position:relative;
}

#txt{
  color:#eaeaea;  
}


/*WHEEL*/
#wheel{
  width:250px;
  height:250px;
  border-radius:50%;  
  position:relative;
  overflow:hidden;
  border:8px solid #fff;
  box-shadow:rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.05) 0px 3px 0px;
  transform: rotate(0deg);
  z-index: 1000000;
}

#wheel:before{
  content:'';
  position:absolute;
  border:4px solid rgba(0,0,0,0.1);
  width:242px;
  height:242px;
  border-radius:50%;
  /*z-index:1000;*/ 
}

#inner-wheel{
  width:100%;
  height:100%;
  
  -webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
  -moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
  -o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
  -ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
  transition:         all 6s cubic-bezier(0,.99,.44,.99); 
}

#wheel div.sec{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 130px 75px 0;
  border-color: #19c transparent;
  transform-origin: 75px 129px;
  left:50px;
  top:-4px; 
  opacity:1;
}

#wheel div.sec:nth-child(1){
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  border-color: #16a085 transparent;  
}
#wheel div.sec:nth-child(2){
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  border-color: #2980b9 transparent;  
}
#wheel div.sec:nth-child(3){
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  border-color: #34495e transparent;  
}
#wheel div.sec:nth-child(4){
  transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  border-color: #f39c12 transparent;  
}
#wheel div.sec:nth-child(5){
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  border-color: #d35400 transparent;  
}
#wheel div.sec:nth-child(6){
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  border-color: #c0392b transparent;  
}


#wheel div.sec .fa{
  margin-top: -100px;
  color: rgba(0,0,0,0.2);
  position: relative;
  z-index: 10000000;
  display: block;
  text-align: center;
  font-size:36px;
  margin-left:-15px;
  
  text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 0px;
}




#spin{
  width:68px;
  height:68px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-34px 0 0 -34px;
  border-radius:50%;
  box-shadow:rgba(0,0,0,0.1) 0px 3px 0px;
  z-index:1000;
  background:#fff;
  cursor:pointer;
  font-family: 'Exo 2', sans-serif;
  
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  -o-user-select: none;
  user-select: none;   
}


#spin:after{
  content:"SPIN"; 
  text-align:center;
  line-height:68px;
  color:#CCC;
  text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0,0,0,0.3) ;
  position: relative;
  z-index: 100000;
  width:68px;
  height:68px;
  display:block;
}

#spin:before{
  content:"";
  position:absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 28px 20px;
  border-color: transparent transparent #ffffff transparent;
  top:-12px;
  left:14px;
}

#inner-spin{
  width:54px;
  height:54px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-27px 0 0 -27px;
  border-radius:50%;
  background:red;
  z-index:999;
  box-shadow:rgba(255,255,255,1) 0px -2px 0px inset, rgba(255,255,255,1) 0px 2px 0px inset,  rgba(0,0,0,0.4) 0px 0px 5px ;
  
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  
}

#spin:active #inner-spin{
  box-shadow:rgba(0,0,0,0.4) 0px 0px 5px inset;
}

#spin:active:after{
  font-size:15px; 
}



#shine{
  width:250px;
  height:250px;
  position:absolute;
  top:0;
  left:0;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.91) 9%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(9%,rgba(255,255,255,0.91)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


opacity:0.1;
  
}



/*ANIMATION*/
@-webkit-keyframes hh {
  0%, 100%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  50%{
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
  }
}

@keyframes hh {
   0%, 100%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  50%{
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
  }
}

.spin {
  -webkit-animation: hh 0.1s; /* Chrome, Safari, Opera */
    animation: hh 0.1s;
}























