/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*******************************
              GENERAL
 *******************************/

 * {
   box-sizing: border-box;
 }

 body {
   /* background-color: #e5ffe5; */
   background-color: #fff;
 }

 /*******************************
              LAYOUT
 *******************************/

 .navbar {
   margin-bottom: 10px;
 }

 .nav-item:first-child {
   padding-left: 0;
 }

 .nav-item {
   padding: 0 5px;
 }

 .other-links h2 {
   font-size: 16px;
 }

  /*******************************
              FORM
 *******************************/

 form {
   display: block;
   position: relative;
   background-color: #fff;
   color: #999;
   padding: 15px;
   -webkit-box-shadow: 7px 6px 160px -5px rgba(0,0,0,0.39);
   -moz-box-shadow: 7px 6px 160px -5px rgba(0,0,0,0.39);
   box-shadow: 7px 6px 160px -5px rgba(0,0,0,0.39);
 }

 .sign-up, .sign-in, .password-reset {
   max-width: 580px;
   margin-top: 50px;
   font-weight: bold;
 }

 .sign-up .title, .sign-in .title, .password-reset .title {
   background-color: midnightblue;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
 }

 .sign-up h2, .sign-in h2, .password-reset h2 {
   text-align: center;
   color: #fff;
   margin-bottom: 0;
   padding: 10px;
 }

 .btn-outline-dark {
   border-color: purple;
   color: midnightblue;

 }

 .btn-outline-dark:hover, .btn-outline-dark:active {
  background-color: midnightblue !important;
  color: #fff !important;
}

label {
  display: block;
  position: relative;
  top: 1px;
  left: 0px;
  margin: 0;
  z-index: 1;
}

input[type="text"], input[type="email"], input[type="password"] {
  display: block;
  position: relative;
  border: none;
  background: none;
  border-bottom: 2px solid #eee;
  outline: none;
  width: 100%;
  font-weight: bold;
  z-index: 2;
  transition: all .3s ease;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  border-bottom: 2px solid purple;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #0f52ba; /* Colour -> Sapphire */
}


.text-field {
  margin: 13px 0;
}

.submit-field {
  margin-top: 30px;
}