<div class="review container">
  
  <div class="title">
    <h2>Create a Review</h2>
  </div>

  <%= form_for [@company, @review] do |form| %>
    <%= render partial: '/reviews/form', object: form %>
    <%= form.submit :class => "sign-up-submit btn btn-outline-dark btn-block mt-3" %>
  <% end %>

</div>